input {width: 200px;}
body {background-color: antiquewhite}


.error {
    color: darkred;
    left: 310px;
}


#fio_text   {
    position: absolute;
    left:5px;
    top:5px;
}
#fio_form   {
    position: absolute;
    left:100px;
    top:5px;
}

#fio_error {
    position: absolute;

    top: 7px;
}


#phone_text {
    position: absolute;
    left: 5px;
    top:35px;
}

#phone_form {
    position: absolute;
    left:100px;
    top:35px;
}

#phone_error {
    position: absolute;
    top: 37px;
}

#address_text {
    position: absolute;
    left: 5px;
    top:65px;
}

#address_form {
    position: absolute;
    left:100px;
    top:65px;
}

#address_error {
    position: absolute;
    top: 67px;
}

#client_form_submit_button {
    position: absolute;
    top: 95px;
    left: 25%;
}

#result {
    position: absolute;
    top: 125px;
    left: 5px;
}


#client_form {
    position: relative;
    width: 410px; /* Ширина слоя в пикселах */
    height:130px;
    margin: 0 auto; /* Отступ слева и справа */
    /*background: #fc0; /* Цвет фона */
    border: 1px solid black; /* Рамка */
    padding: 10px; /* Поля вокруг текста */
    text-align: left; /* Выравнивание содержимого слоя по левому краю */
    }
